.invoiceCard {
  width: 30em;
  margin: 3em;

  .header {
    color: black!important;
  }
}

.invoiceCardContainer {
  margin: 1em;
}

.detailsButton {
  display: flex;
  margin-right: 0;
}

.extraDetails {
  display: inline-flex;
}