.modalCardContent {
  display: flex !important;
  justify-content: center !important;
}

// .productModalCard {
//   width: 70% !important;
// }gi

.allModalContent {
  display: flex;
  justify-content: center !important;
}

.modalHeader {
  color: white;
}

.breadcrumb {
  background: transparent;
}

.breadcrumbSection {
  display: flex;
  justify-content: center;
  margin-bottom: 2em;
}

.productModalButtons {
  display: flex;
  justify-content: center;
  margin-top: 2em;
}