.modalCardContent {
  display: flex !important;
  justify-content: center !important;
}

.modalSecondCard {
  width: 70% !important;
}

.modalSecondContainer {
  display: flex;
  justify-content: center !important;
}

.modalFirstCard {
  display: flex !important;
  justify-content: center !important;
  margin-bottom: 1em;
}

.allModalContent {
  display: flex;
  justify-content: center !important;
}

.modalHeader {
  color: white;
}

.breadcrumb {
  background: transparent;
}

.breadcrumbSection {
  display: flex;
  justify-content: center;
  margin-bottom: 2em;
}

.productModalButtons {
  display: inline-flex;
  justify-content: center;
  margin-top: 2em;
}