.communityPhoto {
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/a/a7/Spent_grain.jpg');
  // background-color: blue;
  height: 50vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.communityContents {
  display: block;
  margin-top: 2em;
  height: 100%;
}

.communityTitle {
  display: flex;
  justify-content: center;
}

.communityParagraph {
  display: flex;
  margin-top: 5em;
  margin-bottom: 3em;
}